<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<!-- Main page content -->
<main class="flex-shrink-0 container">
    <!-- Carousel section -->
    <div id="myCarousel" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#819A20" />
                </svg>

                <div class="container">
                    <div class="carousel-caption text-start text-box">
                        <h1>AgriTech <br> Marketplace</h1>
                        <hr class="hr">
                        <p>AgriTech is an online marketplace that enables farmers to sell their farm produce to buyers.
                            <br>Sign up to sell your produce for free.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#819A20" />
                </svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Our Farm Products</h1>
                        <p>View our variery of farm produce and services.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse Farm Produce</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#819A20" />
                </svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Blogs</h1>
                        <p>Read information on all areas along the agricultural value chain.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- End Carousel section
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!-- Two columns of all products and blogs page -->
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Products Page</strong>
                        <h3 class="mb-0">Our Products</h3>
                        <p class="card-text mb-auto">Our variety of farm products.</p>
                        <a href="#" class="stretched-link">View</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="../../../assets/jen-gunter-A4BBdJQu2co-unsplash.webp" class="bd-placeholder-img"
                            width="200" height="250" alt="products page image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Blogs Section</strong>
                        <h3 class="mb-0">Market Information</h3>
                        <p class="mb-auto">All our articles and blogs.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="../../../assets/pexels-mark-stebnicki-2255920.webp" class="bd-placeholder-img"
                            width="200" height="250" alt="products page image">
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

        <h2 class="pb-2 border-bottom"></h2>

        <!-- START THE FEATURETTES -->
        <!-- Featured Section -->
        <h2 class="blog-post-title">Featured Products</h2>
        <hr>

        <div class="row featurette mb-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3">
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="../../../assets/strawberries.jpg"
                            class="bd-placeholder-img card-img-top img-responsive" max-width="100%" height="270">

                        <div class="card-body">
                            <h5 class="card-title">Strawberries</h5>
                            <p class="card-text">Fresh organic strawberries available.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 200<small
                                    class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/coconuts.jpg" class="bd-placeholder-img card-img-top img-responsive"
                            width="100%" height="270">
                        <div class="card-body">
                            <h5 class="card-title">Coconuts</h5>
                            <p class="card-text">Coconuts for sale.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 50<small class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="../../../assets/butternuts.jpg" class="bd-placeholder-img card-img-top img-responsive"
                            width="100%" height="270">

                        <div class="card-body">
                            <h5 class="card-title">Butternuts</h5>
                            <p class="card-text">Butternuts for sale.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 30<small class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="../../../assets/watermelon.jpg" class="bd-placeholder-img card-img-top img-responsive"
                            width="100%" height="270">

                        <div class="card-body">
                            <h5 class="card-title">Watermelon</h5>
                            <p class="card-text">Fresh organic watermelons available.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 30<small class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-4">
                <button type="button" class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold">See More</button>
            </div>
        </div>

        <h2 class="pb-2 border-bottom"></h2>

        <!-- Recent Articles Section -->
        <h2 class="blog-post-title">Recent Articles</h2>
        <hr class="featurette-divider">
        <div class="row featurette mb-2">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 pb-5 shadow ounded-3">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img src="../../../assets/fertilisers.jpg" class="d-block mx-lg-auto img-fluid"
                            alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                        <p class="muted">Must Read </p>
                        <h1 class="display-5 fw-bold lh-1 mb-3">Online system to curb fertilisers supply delays</h1>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button type="button" class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold">READ
                                MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-0">
                <button type="button" class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold">See More</button>
            </div>
        </div>

        <h2 class="pb-2 border-bottom"></h2>

        <!-- Buyers Request Section -->
        <h2 class="blog-post-title">Buyers Request</h2>
        <hr class="featurette-divider">
        <div class="row featurette mb-4">

            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">
                            <div class="card-body card-link">
                                <h5 class="card-title">I'm in need of eggs</h5>
                                <p class="card-text">
                                    I'm looking for upto 2000 crates per month.
                                </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">5 hours ago</div>
                    </div>
                </div>

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">
                            <div class="card-body">
                                <h5 class="card-title">I'm in need of Hass Avocados</h5>
                                <p class="card-text">
                                    I'm looking for upto 2 tonnes of Hass Avocados.
                                </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">1 day ago</div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">

                            <div class="card-body">
                                <h5 class="card-title">I'm in need of tomatoes</h5>
                                <p class="card-text">
                                    I'm looking for upto 2 tonnes of tomatoes.
                                </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">1 day ago</div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">

                            <div class="card-body">
                                <h5 class="card-title">I'm in need of french beans</h5>
                                <p class="card-text">
                                    I'm looking for upto 2 tonnes of french beans. </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">1 day ago</div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">
                            <div class="card-body">
                                <h5 class="card-title">I'm in need of capsicum</h5>
                                <p class="card-text">
                                    I'm looking for upto 2 tonnes of capsicum. </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">2 days ago</div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">
                            <div class="card-body">
                                <h5 class="card-title">I'm in need of tomatoes</h5>
                                <p class="card-text">
                                    I'm looking for upto 2 tonnes of tomatoes. </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">3 days ago</div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">
                            <div class="card-body">
                                <h5 class="card-title">Looking for kienyeji chicken</h5>
                                <p class="card-text">
                                    Anyone selling kienyeji chickens?
                                </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">4 days ago</div>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">
                            <div class="card-body">
                                <h5 class="card-title">I'm in need of butternuts</h5>
                                <p class="card-text">
                                    I'm looking for upto 2 tonnes of butternuts. </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">5 days ago</div>
                    </div>
                </div>
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mby-0">
                    <div class="card bg-light text-center mby-0 shadow-sm h-100">
                        <a href="" class="text-dark">
                            <div class="card-body">
                                <h5 class="card-title">Looking for managu and spinach</h5>
                                <p class="card-text">
                                    I'm looking for fresh managu and spinach. </p>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-muted">7 days ago</div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-3">
                <button type="button" class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold">See More</button>
            </div>
        </div>

        <h2 class="pb-2 border-bottom"></h2>

        <!-- Testimonials Section -->
        <div class="row featurette mb-2 shadow ounded-3 my-4">
            <div class="col-md-7 order-md-2">
                <h2 class="blog-post-title">Testimonials</h2>
                <hr class="featurette-divider">
                <p>As a farmer AgriTech has helped in selling my farm produce in an
                    efficient way and get more customers.</p>
                <p class="lead">Florence Amdayi
                    <br> Farmer, Nakuru, Kenya
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="../../../assets/farmer.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">

            </div>
        </div>
    </div><!-- /.container -->
    <!-- /END THE FEATURETTES -->

</main>