<main class="flex-shrink-0 container my-5">

    <!-- Product Detail Section -->
    <div class="container marketing">

        <h2 class="blog-post-title">Strawberries</h2>
        <hr class="featurette-divider">

        <div class="row mt-4 mb-5">
            <div class="col-md-6">
                <div class="card shadow h-100 p-5">
                    <img src="../../../assets/strawberries.jpg" class="bd-placeholder-img card-img-top img-responsive"
                        max-width="100%" height="320px">

                    <div class="card-body">
                        <h5 class="card-title">Strawberries</h5>
                        <p class="card-text">Fresh organic strawberries available.</p>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success">Filter Products</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow h-100 p-5">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">10 days delivery</th>
                                <th scope="col">Transport Inclusive</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Farm Produce</th>
                                <td>Oranges</td>
                            </tr>
                            <tr>
                                <th scope="row">Farmer</th>
                                <td>Emmanuel Michira</td>
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td>Nakuru, Kenya</td>
                            </tr>
                            <tr>
                                <th scope="row">Weight</th>
                                <td>100 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">Unit Price</th>
                                <td colspan="2">KES 100</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tfoot>
                            <th scope="row" class="py-2">Grand Total</th>
                            <td colspan="2" class="py-2">KES 10000</td>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div><!-- /.row -->
        <!-- Related Products Section -->
        <h2 class="blog-post-title">Related Products</h2>
        <hr class="featurette-divider">

        <div class="row featurette mb-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3">
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="../../../assets/strawberries.jpg"
                            class="bd-placeholder-img card-img-top img-responsive" max-width="100%" height="270">

                        <div class="card-body">
                            <h5 class="card-title">Strawberries</h5>
                            <p class="card-text">Fresh organic strawberries available.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 200<small
                                    class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/coconuts.jpg" class="bd-placeholder-img card-img-top img-responsive"
                            width="100%" height="270">
                        <div class="card-body">
                            <h5 class="card-title">Coconuts</h5>
                            <p class="card-text">Coconuts for sale.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 50<small class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="../../../assets/butternuts.jpg" class="bd-placeholder-img card-img-top img-responsive"
                            width="100%" height="270">

                        <div class="card-body">
                            <h5 class="card-title">Butternuts</h5>
                            <p class="card-text">Butternuts for sale.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 30<small class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="../../../assets/watermelon.jpg" class="bd-placeholder-img card-img-top img-responsive"
                            width="100%" height="270">

                        <div class="card-body">
                            <h5 class="card-title">Watermelon</h5>
                            <p class="card-text">Fresh organic watermelons available.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <h5 class="card-text pricing-card-text">KES 30<small class="text-muted fw-light">.00</small>
                            </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">
                                        <i class="fas fa-heart" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="color: rgba(0,0,0,.55); margin-right: 0.5rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-4">
                <button type="button" class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold">See More</button>
            </div>
        </div>

    </div>
</main>