<main class="container my-5">
    <div class="g-5">
        <!-- Header Section -->

        <div class="row featurette">
            <div class="col-md-6 order-md-2">
                <h2 class="blog-post-title mb-5">Small Holder Farmers Urged To Embrace Mechanised Farming
                </h2>
                <strong class="blog-post-meta">March 13, 2019 by <a href="#" class="bg-text">Anne Mwale </a></strong>
                <blockquote class="blockquote mt-5">
                    <p>
                        Small holder farmers in the country have been urged to leverage on technology and mechanised
                        agriculture to boost production and increase the quality of their produce. </p>
                </blockquote>
            </div>
            <div class="col-md-6 order-md-1">
                <a href="#!">
                    <img class="img-fluid blog-image" src="../../../../assets/chai.png" alt="Sample" />
                </a>
            </div>
        </div>

        <!-- Blog Detail -->
        <hr class="my-5">
        <article class="blog-post">
            <p>
                Small holder farmers in the country have been urged to leverage on technology and mechanised
                agriculture to boost production and increase the quality of their produce.
                <br>
                The Chairman to Toyota Tsusho East Africa Limited, Amb. Dennis Awori said the notion that
                mechanisation was only for those engaging in large-scale farming was both misguided and a threat
                Kenya’s food security.
                <br>
                Speaking while unveiling and demonstrating the use of a light and cheaper tractor dubbed CASE IH 340
                in Nakuru, Awori said technological advancements had enabled manufacture of various machines that
                can help small scale farmers improve productivity at their farms.
                <br>
                “The need to boost crop yields to feed Kenyans is becoming a priority. All manufacturers need to
                contribute towards realisation of the government’s Big 4 Agenda.
                <br>
                Some of the ways of achieving Big 4 agenda on Food Security include mechanised farming, irrigation,
                use quality seeds and appropriate fertilisers,” said the Chairman.
                <br>
                He said the company has devised equipment that meets needs of both small and large scale farmers
                across the country.
                <br>
                Mr Awori announced that the firm would also diversify into a value addition chain by establishing a
                fertiliser blending facility that will be sold at an affordable rate.
                <br>
                “Our entry into the agriculture sector was informed by our commitment to enhance agriculture and
                farming mechanisation in Kenya and because agriculture remains a crucial backbone of Kenya’s
                economy,” Awori said.
                <br>
                The occasion also saw the inauguration of Toyota Tsusho East Africa Nakuru sales office.
                <br>
                Other offices he said will be rolled out in Eldoret which will tap into the North Rift Region and
                Nyeri which will cater for Central.
                <br>
                “In our strategies towards bolstering agricultural productivity we have placed a special emphasis on
                Nakuru. Geographically, Nakuru town is centrally located and is therefore more accessible from other
                corners of the country. With its rich agricultural highland hinterland, the region serves as a major
                source of raw materials for industries.”
                <br>
                The Toyota Tsusho East Africa Head of Business, Ian Allen added that the new model is built with
                simplicity of design, unsurpassed reliability, outstanding fuel economy and minimal maintenance
                requirements.
                <br>
                He said the company has also set-up a fully-fledged after sales service operation.
                <br>
                “This will consist of a genuine spare parts centre and nationwide mobile service coverage. We are
                working with several institutions that will extend farmers financing to purchase modern equipment.
                <br>
                Allen assured farmers that asset financing was tailor-made to suit abilities of both small holder
                and large scale farmers.
                <br>
                “Since some new farmers lack experience with planters, tractors and implements, Toyota Tsusho East
                Africa Limited has put in place training as part of the package for new owners. This aims at showing
                buyers how to maximise the use of their machinery to boost their food production by using
                mechanisation” said the Head of Sales.
                <br>
                According to Amb. Awori, Toyota Tsusho East Africa offers a versatile range of tractors for use in
                the open field, fruit orchards and vineyards.
                <br>
                They are also engineered to increase power and efficiency while ensuring excellent cutting
                performance.
                <br>
                “The tractors are built tough enough to handle long days of dedicated landscaping with ease and with
                a perfect balance of performance, efficiency and comfort,” Awori said.
            </p>
        </article>
    </div>

    <!-- Related Blogs -->
    <h2 class="blog-post-title">Related Blogs</h2>
    <hr class="featurette-divider">

    <div class="container">

    <div class="container slider">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-1">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Featured</strong>
                        <h3 class="mb-0">Youth Challenged To Embrace Agribusiness</h3>
                        <div class="mb-auto text-muted">May 13, 2021</div>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-1">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Market Outlook</strong>
                        <h3 class="mb-0">Kenya To Explore Banana Market In Korean</h3>
                        <div class="mb-auto text-muted">May 12, 2021</div>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-1">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Featured</strong>
                        <h3 class="mb-0">Youth Challenged To Embrace Agribusiness</h3>
                        <div class="mb-auto text-muted">May 13, 2021</div>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative p-1">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Market Outlook</strong>
                        <h3 class="mb-0">Kenya To Explore Banana Market In Korean</h3>
                        <div class="mb-auto text-muted">May 12, 2021</div>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
</main>