/* You can add global styles to this file, and also import other style files */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Show navbar is not fixed to the top */

body {
  background-color: #F7F6F4;
}

.bg-banner {
  background-color: #819A20;
}

.bg-button {
  background-color: #416422;
}

.bg-button:hover {
    background-color: #819A20;
    color: #fff;
}

hr:not([size]) {
  height: 2px;
}

.featurette-divider {
  max-width: 60px;
  margin: 1rem 0;
  color: inherit;
  background-color: #000000;
  border: 0;
  opacity: 1.25;
  text-align: right;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

.slider .owl-prev, .slider .owl-next {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent !important;
  font-size: 35px !important;
  color: #416422 !important;
}

.slider .owl-prev {
  left: -22px;
}

.slider .owl-next {
  right: -58px;
}

.slider .owl-prev:hover {
  left: -27px;
  color: #819A20 !important;
}

.slider .owl-next:hover {
  right: -65px;
  color: #819A20 !important;
}