<div class="container-fluid">
    <!-- FOOTER -->
    <footer class="pt-4 px-5 mb-3 pt-md-5 border-top bg-footer">
        <span class="float-end"><a href="#" class="link-secondary">Back to top</a></span>
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="../../../assets/logo-small.png" alt="" width="" height="35">
                <small class="d-block mb-3">&copy; 2021</small>
            </div>
            <div class="col-6 col-md">
                <h5 class="link-secondary">Address</h5>
                <hr class="featurette-divider">
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary" href="#">Westlands, Nairobi.</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">Random feature</a></li>
                </ul>
                <h5 class="link-secondary">Office Hour</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary" href="#">Monday - Sunday</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">10:00 - 17:00</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="link-secondary">Get in touch</h5>
                <hr class="featurette-divider">
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary" href="tel:+254700354150">Phone: +254700354150</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">Customer Service: +254700354150</a></li>
                </ul>
                <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 link-secondary"><i class="fa fa-google"></i> </div>
                    <div class="p-2 link-secondary"><i class="fa fa-twitter"></i> </div>
                    <div class="p-2 link-secondary"><i class="fa fa-facebook-f"></i></div>
                    <div class="p-2 link-secondary"><i class="fa fa-instagram"></i></div>
                </div>
            </div>
            <div class="col-6 col-md">
                <h5 class="link-secondary">Useful Links</h5>
                <hr class="featurette-divider">
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary" href="#">Warranty and Complains</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">Order and Shopping</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">Tracking Order</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">About Us</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">Contact Us</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">Terms</a></li>
                    <li class="mb-1"><a class="link-secondary" href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>